*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.header-container{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: top right, left;
    height: 750px;
    margin: 0;
    text-align: right;
}
.header-title{
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-align: right;
    padding-top: 15%;
    padding-right: 8%;

}
.header-description{
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding-right: 8%;
    padding-top: 35px;
    color: #757575;


}
.btn-primary{
    color: azure;
    background-color: orangered;
    text-align: right;
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-right:8%;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
.part1{
    display: flex;
    gap: 10%;
    padding-left: 20px;
}
.part1-details{
    padding-top: 15%;
    font-size: ;
}
.part1-title{
    font-weight: 700;
    font-size: 66px;
}
.part1-description{
    color: #444343;   
    padding-top: 43px;
    font-size: 22px
}
.list-motiv{
    color: #444343;
    padding-top: 18px;
    font-size: 17px;
}

/* plan section */

.part2-details{
    display: flex;
    gap: 30px;
    padding-left: 104px;

}
.plan{
    border-radius: 5px;
    padding: 30px;
    box-shadow: opx 6px 50px rgba(0, 0, 0, 0.06);


}
.plan-title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;

}
.plan-des{
    color: #757575;

}
.part2-title{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}
.bg-gradiant{
    width: 1140px;
    height: 300px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    border-radius: 8px;
}
.bg-title{
    padding-top: 80px;
    padding-left: 60px;
    font-weight: 700; 
    font-size: 45px;
    color: azure;
    padding-bottom: 18px;
}
.btn-sec{
    margin-left: 60px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: orangered;

}
footer{
    color: whitesmoke;
    background-color: black;
    margin-top: 10%;
}
.contact{
    display: flex;
    gap: 25%;
}
.contact a{
    text-decoration: none;
    gap: 2%;
}
.section-title{
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 10px;
}
.section-des{
    font-size: 18px;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 15px;
    
}
.future{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.subscribe{
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.btn-third{
    color: orangered;
    border-radius: 5px;
    padding: 10px 20px;
    height: 40px;
    font-weight: 900;
    font-size: 18px;
    
}
.contact input[type="email"]{
    margin-bottom: 18px;
    border: 1px solid white;
    width: 100%;
    border-radius: 5px;
    padding: 10px 22px;
    color: #757575;
    background-color: black;
}